<footer class="footer">
  <div class="outer">
    <div class="float-right">

    </div>
    <ul class="list-inline">

      <% if (theme.beian){ %>
        <li><%- theme.beian.number %></li>
      <% } %>
    </ul>
  </div>
</footer>